DBT_ORACLE_HOST=nbnaexaracpr04
DBT_ORACLE_PORT=1521
DBT_ORACLE_USER=USC_EBS_OPS_SVC
DBT_ORACLE_SERVICE=uscebspr
DBT_ORACLE_SCHEMA=apps
DBT_ORACLE_DATABASE=USCEBSDG.WORLD
DBT_ORACLE_PASSWORD=replace_me
